/**
 * Page: Default
 */
#btg-default select {
    min-width: 200px;
    max-width: 100%;
}

/**
 * Layout
 */
#btg-generate-terms .btg-main {
    width: 68.5%;
    float: left;
    overflow: hidden;
    margin: 0 1.5% 0 0;
}
#btg-generate-terms .btg-side-container {
    width: 28.5%;
    float: right;
    overflow: hidden;
    margin: 0 0 0 1.5%;
}
#btg-generate-terms .btg-side-container .btg-side {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background-color: #dbd5d5;
    padding: 1em;
}
#btg-generate-terms .btg-side-container .btg-side p {
  font-size: 1.1em;
}

/**
 * Page: Generate Terms
 */
#btg-generate-terms .btg-terms-to-add {
    width: 100%;
    max-width: 800px;
}
#btg-generate-terms .example {
    font-family: monospace;
}
#btg-generate-terms .sorry {
    color: #B0B0B0;
}
#btg-generate-terms #term-list {
    font-size: 1.2em;
    line-height: 1.5em;
}
.btg-term-list-container p {
    font-size: 1.2em;
    margin-left: 2em;
}
#btg-generate-terms #term-list ul{
    border-left: 1px solid #D5D5D5;
}
#btg-generate-terms #term-list .delete,
#btg-generate-terms #term-list .edit {
    margin-left: 6px;
}
#btg-generate-terms #term-list .delete {
    color: #ff0000;
}
#btg-generate-terms #term-list .edit {
    color: #000;
}
#btg-generate-terms .btg-term-list-container {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #aeaeae;
}
#btg-generate-terms .btg-term-list-container li {
    margin: 0 0 0 2em;
}
#btg-generate-terms #parent_term {
    min-width: 300px;
    max-width: 100%;
}
#btg-generate-terms .instructions p {
    font-size: 110%;
}
#btg-generate-terms .instructions p span {
    text-decoration: underline;
}
#btg-generate-terms .tip {
    border: 1px solid #AEAEAE;
    display: inline-block;
    padding: 10px;
}
#btg-generate-terms .btg-add-terms {
    margin-right: 1em;
}

/**
 * Dialog box styles
 */
.btg-dialog-add .ui-widget-content {
    border-color: #4597d5;
}
.btg-dialog-add.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.btg-dialog-edit.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.btg-dialog-complete.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset  {
    float: none;
 }
.btg-dialog-add .ui-dialog-titlebar-close,
.btg-dialog-edit .ui-dialog-titlebar-close {
    visibility: hidden;
}
.btg-dialog-add .ui-dialog-titlebar,
.btg-dialog-edit .ui-dialog-titlebar,
.btg-dialog-complete .ui-dialog-titlebar{
    color: #eaf5f7;
    border-color: #4597d5;
    background: #74b9d6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0YjlkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzc0YjlkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzc0YjlkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iIzQ0YTBjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NGEwYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDRhMGM3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #74b9d6 0%, #74b9d6 61%, #44a0c7 62%, #44a0c7 100%, #44a0c7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74b9d6), color-stop(61%,#74b9d6), color-stop(62%,#44a0c7), color-stop(100%,#44a0c7), color-stop(100%,#44a0c7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #74b9d6 0%,#74b9d6 61%,#44a0c7 62%,#44a0c7 100%,#44a0c7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #74b9d6 0%,#74b9d6 61%,#44a0c7 62%,#44a0c7 100%,#44a0c7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #74b9d6 0%,#74b9d6 61%,#44a0c7 62%,#44a0c7 100%,#44a0c7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #74b9d6 0%,#74b9d6 61%,#44a0c7 62%,#44a0c7 100%,#44a0c7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74b9d6', endColorstr='#44a0c7',GradientType=0 ); /* IE6-8 */
}
.btg-dialog-add .ui-widget-content .ui-state-default {
    color: #fff;
    border-color: #c43c35;
    background: #ce6661; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxYzA2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzkxYzA2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzdkYjQ0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI0NDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ce6661 0%, #ce6661 50%, #c43c35 52%, #c43c35 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce6661), color-stop(50%,#ce6661), color-stop(52%,#c43c35), color-stop(100%,#c43c35)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ce6661 0%,#ce6661 50%,#c43c35 52%,#c43c35 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ce6661 0%,#ce6661 50%,#c43c35 52%,#c43c35 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ce6661 0%,#ce6661 50%,#c43c35 52%,#c43c35 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ce6661 0%,#ce6661 50%,#c43c35 52%,#c43c35 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce6661', endColorstr='#c43c35',GradientType=0 ); /* IE6-8 */
    outline-width: 0px !important;
}
.ui-widget-overlay {
    background: #000;
}
.btg-dialog-complete .completed > p {
    font-size: 1em;
}
.btg-dialog-edit .input-group {
    margin: 1em 0;
}
.btg-dialog-edit .input-group input,
.btg-dialog-edit .input-group label {
    display: block;
}
.btg-dialog-edit .input-group label {
    font-size: .9em;
}
.btg-dialog-edit .input-group input {
    width: 100%;
}
.btg-dialog-edit .ui-widget-content .ui-state-default,
.btg-dialog-complete .ui-widget-content .ui-state-default,
.btg-dialog-add .ui-widget-content .ui-button-continue {
    color: #fff;
    border-color: #52a452;
    background: #61c261; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxYzA2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzkxYzA2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzdkYjQ0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI0NDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #61c261 0%, #61c261 50%, #51a451 52%, #51a451 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61c261), color-stop(50%,#61c261), color-stop(52%,#51a451), color-stop(100%,#51a451)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #61c261 0%,#61c261 50%,#51a451 52%,#51a451 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #61c261 0%,#61c261 50%,#51a451 52%,#51a451 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #61c261 0%,#61c261 50%,#51a451 52%,#51a451 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #61c261 0%,#61c261 50%,#51a451 52%,#51a451 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61c261', endColorstr='#51a451',GradientType=0 ); /* IE6-8 */
    outline-width: 0px !important;
}
.btg-dialog-add .ui-widget-content .ui-button-pause {
   color: #fff;
   border-color: #ff7f00;
   background: #ffb76f; /* Old browsers */
   /* IE9 SVG, needs conditional override of 'filter' to 'none' */
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxYzA2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzkxYzA2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzdkYjQ0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI0NDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top,  #ffb76f 0%, #ffb76f 50%, #ffa40d 52%, #ffa40d 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76f), color-stop(50%,#ffb76f), color-stop(52%,#ffa40d), color-stop(100%,#ffa40d)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #ffb76f 0%,#ffb76f 50%,#ffa40d 52%,#ffa40d 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #ffb76f 0%,#ffb76f 50%,#ffa40d 52%,#ffa40d 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #ffb76f 0%,#ffb76f 50%,#ffa40d 52%,#ffa40d 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #ffb76f 0%,#ffb76f 50%,#ffa40d 52%,#ffa40d 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76f', endColorstr='#ffa40d',GradientType=0 ); /* IE6-8 */
   outline-width: 0px !important;
}
/*Progress Bar*/
.btg-progressbar {
    background: #e5e1e1;
    margin-top: 1em;
    border-color: #a8a8a8;
}
.btg-progressbar > div {
  background: #5bb35c;
}
#btg-dialog-add .progress-status {
  margin: 0;
}

/**
 * Media Queries
 */
@media only screen and (max-width: 1260px) {

    #btg-generate-terms .btg-main {
        margin-bottom: 1em;
    }
    #btg-generate-terms .btg-main,
    #btg-generate-terms .btg-side-container {
        width: auto;
        float: none;
        overflow: hidden;
        margin: auto;
    }
    #btg-generate-terms .btg-side-container .btg-side {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        background-color: transparent;
        padding: 0;
    }
    #btg-generate-terms .btg-side-container .btg-side .btg-about,
    #btg-generate-terms .btg-side-container .btg-side .btg-support,
    #btg-generate-terms .btg-side-container .btg-side .btg-feedback {
        box-sizing: border-box;
        float: left;
        overflow: hidden;
        width: 31%;
        margin: 0 1.5%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #c4c4c4;
        background-color: #dbd5d5;
        padding: 1em;
    }
    #btg-generate-terms .btg-side-container .btg-side > div:first-child {
        margin-left: 0;
    }
    #btg-generate-terms .btg-side-container .btg-side > div:last-child {
        margin-right: 0;
    }

}
@media only screen and (max-width: 782px) {
    #btg-generate-terms .btg-side-container .btg-side .btg-about,
    #btg-generate-terms .btg-side-container .btg-side .btg-support,
    #btg-generate-terms .btg-side-container .btg-side .btg-feedback {
        float: none;
        overflow: hidden;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
        padding: 1em;
    }
}