/**
 * Page: Default
 */
#btg-default select {
    min-width: 200px;
    max-width: 100%;
}

/**
 * Page: Generate Terms
 */
#btg-generate-terms #terms-to-add {
    width: 100%;
    max-width: 800px;
}
#btg-generate-terms .example {
    font-family: monospace;
}
#btg-generate-terms .sorry {
    color: #B0B0B0;
}
#btg-generate-terms #term-list {
    font-size: 1.2em;
    line-height: 1.5em;
}
#btg-generate-terms #term-list ul{
    border-left: 1px solid #D5D5D5;
}
#btg-generate-terms #term-list .delete {
    background: url('images/delete.png') center center no-repeat transparent;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 6px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
#btg-generate-terms #term-list-container li {
    margin: 0 0 0 2em;
}
#btg-generate-terms #parent_term {
    min-width: 300px;
    max-width: 100%;
}
#btg-generate-terms .instructions p {
    font-size: 110%;
}
#btg-generate-terms .instructions p span {
    text-decoration: underline;
}

#btg-generate-terms .tip {
    border: 1px solid #AEAEAE;
    display: inline-block;
    padding: 10px;
}