<!--
English:
{0} = "Name"
{1} = "Slug"
{2} = "Description"
 -->
<p class="message" style="display:none;"></p>
<form>
	<fieldset>
		<div class="input-group">
			<label for="name" class="term-name">{0}</label>
			<input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
		</div>
		<div class="input-group term-slug">
			<label for="slug">{1}</label>
			<input type="text" name="slug" id="slug" value="" class="text ui-widget-content ui-corner-all">
		</div>
		<div class="input-group term-description">
			<label for="description">{2}</label>
			<input type="text" name="description" id="description" value="" class="text ui-widget-content ui-corner-all">
		</div>
		<input type="hidden" name="id" id="id" val="">
	</fieldset>
  </form>
